/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

:root {
  --background: #f8fafc;
  --surface: #ffffff;
  --primary: #6366f1;
  --secondary: #8b5cf6;
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
  --text: #0f172a;
  --muted: #64748b;
  --border: #e2e8f0;
  --radius: 24px;
}

.dark {
  --background: #020617;
  --surface: #0f172a;
  --text: #f8fafc;
  --muted: #94a3b8;
  --border: #334155;
}

*{
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Poppins",sans-serif;
  background:var(--background);
  color:var(--text);
  transition:.25s;
  overflow:hidden;
}